.mainContainer {
    display: flex;
    justify-content: center;
    height: 98%;
    font-family: 'Oxanium';
    color: white;
    width: 98vw;
}

.pricing-and-img {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.pricingContainer {
    position: relative;
    width: fit-content;
    height: 75vh;
    padding-left: 2rem;
}

.spanSVG {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: visible;
}

.allPriceInfo {
    display: flex;
    flex-direction: column;
    padding-left: 4.5vw;
    padding-top: 7vh;
    width: fit-content;
}

/****** Discount text and accents **************/

.discountAndAccentsContainer {
    position: relative;
    height: 6.5vw;
}

.discountSpan {
    font-size: 4vw;
    animation: discountPulse 2s ease-in-out infinite alternate;
}

.discountAccents {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    overflow: visible;
}
.mainAccents {
    filter:
        drop-shadow(0 0 4px rgb(255, 0, 0)) 
}

.cyanAccent {
    filter:
        drop-shadow(0 0 2px cyan) drop-shadow(0 0 6px cyan);
}


@keyframes discountPulse {
    from {
        text-shadow: 0 0 4px rgb(0, 175, 175), 0 0 10px rgb(0, 156, 156);
    }

    to {
        text-shadow: 0 0 6px cyan, 0 0 14px cyan;
    }
}

/***********************************************/

.prices {
    display: flex;
    align-items: center;
   justify-content: center;
    gap: 4vw;
    width: 100%;
    height: 12vh;
}

/*********  Original Price **********************/

.arrowSVG {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    overflow: visible;
}

.arrow {
    opacity: 1;
    filter: drop-shadow(0 0 5px orange) 
}

.originalPriceContainer {
   position: relative;
}

.originalPrice {
    display: block;
    position: relative;
    font-size: 2.5vw;
    opacity: .6;
}
/**********************************************************/



/******* Final Price *******/

.finalPrice {
    display: block;
    text-shadow: 0 0 6px white;
    font-size: 4vw;
}

.onlyFinalPrice {
    text-shadow: 0 0 6px white;
    font-size: 5rem;
}

/******************************/


/*   GAME CARD    */

.gameCardSection {
    outline: orange 1px solid;
    display: flex;
}

.link {
    width: 45%;
    padding-right: 2rem;
    margin-top: 3rem;
    height: fit-content;
}

.imgOverlay {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.gameCardPath {
    filter:
        drop-shadow(0 0 2px cyan) drop-shadow(0 0 4px rgb(0, 255, 255));
}

/***********************/