.header {
    width: fit-content;
    margin: 0 auto;
    transform: skewX(-10deg);
}

.redHeader,
.cyanHeader {
    font-size: 8rem;
    font-weight: 100;
    font-family: 'SDDystopianDemo';
    color: transparent;
}

.redHeader {
    -webkit-text-stroke: 3px rgb(235, 235, 235);
    filter: drop-shadow(0 0 4px red) drop-shadow(0 0 10px red);
}

.cyanHeader {
    -webkit-text-stroke: 3px rgb(235, 235, 235);
    filter: drop-shadow(0 0 3px cyan) drop-shadow(0 0 10px cyan);
}

.main-container {
    position: relative;
    width: 85vw;
    height: 75vh;
    margin: 2.5rem auto;
}

.bg-shape {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: visible;
}

.mainPath {
    filter:
        drop-shadow(0 0 .1px rgb(255, 0, 0)) drop-shadow(0 0 .5px rgb(255, 0, 0))
}

.topAccent {
    background: linear-gradient(90deg, 0% red, 40%white);
    filter:
        drop-shadow(0 0 .3px rgb(255, 0, 0))
}

.bottomAccent {
    filter:
        drop-shadow(0 0 .3px rgb(255, 0, 0))
}